<footer class="bg-white h-15 pl-9 items-center text-blue-900 fixed inset-x-0 bottom-0 p-2 text-sm flex justify-between">
    <div>
        &copy; Copyright 2025
    </div>
    <div class="space-x-2 pr-9 cursor-pointer">
        <i class="fa fa-instagram"></i>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-envelope"></i>
    </div>

</footer>