<header id="navbar" class="bg-white fixed w-full top-0 left-0 z-50">
  <nav class="container flex items-center justify-between h-10 sm:h-20">
    <div class="font-mono sm:text-2xl mr-4">
      <a href="/"> VibandaConnect </a>
    </div>
    <div
      id="nav-menu"
      class="absolute top-0 left-[-100%] min-h-80vh w-full bg-white backdrop-blur-sm flex items-center justify-center duration-300 overflow-hidden lg:static lg:min-h-fit lg:bg-transparent lg:w-auto"
    >
      <ul class="flex flex-col items-center gap-8 lg:flex-row">
        <li><a href="/" class="nav-link">Home</a></li>
        <li><a href="/about" class="nav-link">About</a></li>
        <li><a href="/contact" class="nav-link">Contact</a></li>
        <% if(isLoggedIn) { %>
        <button class="btn text-white">
          <a href="/auth/logout">Logout</a>
        </button>
        <% } else { %>
        <button class="btn text-white relative group">
          <li class="mx-2 my-4 md:my-0 flex items-center gap-1">
            <a class="font-semibold flex items-center">
              Get Started <i class="ri-arrow-down-s-line ml-1"></i>
            </a>
            <ul
              class="absolute hidden group-hover:block group-hover:rounded-xl bg-teal-200 shadow-xl py-2 text-black font-semibold items-center"
              style="top: calc(100% + 8px); left: 0; z-index: 50"
            >
              <li class="hover:bg-teal-300 rounded">
                <a href="/auth/vendorRegister" class="nav-link px-2 py-2"
                  >Register Vendor</a
                >
              </li>
              <li class="hover:bg-teal-300 rounded">
                <a href="/auth/customerRegister" class="nav-link px-2 py-2"
                  >Register Customer</a
                >
              </li>
              <li class="hover:bg-teal-300 rounded">
                <a href="/auth/riderRegister" class="nav-link px-2 py-2"
                  >Register Rider</a
                >
              </li>
            </ul>
          </li>
        </button>

        <% } %>
      </ul>
    </div>

    <div class="text-xl sm:text-3xl cursor-pointer z-50 lg:hidden">
      <i class="ri-menu-4-line" id="hamburger"></i>
    </div>
  </nav>
</header>
